@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600&display=swap');

#root {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  width: 100vw;
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.container {
  margin-left: 20%; /* Adicione isso para compensar o espaço da navbar fixa */
  width: 80%;
  /* Removido o height */
}